.borderBack{
    filter: drop-shadow(0 4px 4px rgba(0, 0, 0, 0.2));
    text-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 15px;
    /* border: red solid 2px; */
}
.imgAbout{
    height: 10ch;
    width: 12ch;
}